# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a21323c6a0aea7993d9f17557caf44b682b52e28d4feb89d449c9de7390302357a99f267333f9e36eb8b49d0995460ca4c00f322675374b222630e4ab4e754b2

test:
  secret_key_base: 45a0370b4d6061046770183b5518df99a96ed51cd1d629b000f51c9154d4c704271bd2a107b6e667173c1a514f0685348d95ce5252ba4d790dcbe24643e1b58b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
