<h4 class="color-green header" style="font-weight: bold; padding-top: 20px;"><%= t :how_to_pay %></h4>
<p class="color-light-gray"><%= t :pay_question_hint %></p>
<%= render partial: 'application/question/form' %>